*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background: linear-gradient(-45deg, #7d2ae8, #e73c7e, #d697ff, #eacaff);
    background-size: 400% 400%;
    font-family: 'Poppins', sans-serif;
    animation: anim 15s ease infinite;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.ycs{
    width: 150px;
    float: left;
}

.smcd{
    width: 90px;
    margin: 10px 20px 0px 0px;
    float: right;
}

.texts{
    position: relative;
    width: 600px;
    height: 600px;
    background: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px 20px 10px 20px;
}

.lottie{
    text-align: center;
    height: 200px;
}

.texts h1{
    font-size: 40px;
    margin-top: 20px;
}

.texts #desc{
    margin-top: 10px;
    color: #a7a7a7;
}

.texts #spinnerTitle{
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
}

select{
    width: 200px;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 20px;
    border: 2px solid #cc0000;
}

.texts .nameError {
    color: #ff0000;
    margin-top: 10px;
    visibility: hidden;
}

.texts .nameError span {
    font-weight: 800;
}

.texts input[type = "submit"] {
    background: #cc0000;
    border: none;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    color: white;
}

.texts #nameNotListed{
    color: #a7a7a7;
    margin-top: 20px;
    font-size: 13px;
    font-weight: 400;
}

.texts #nameNotListed span{
    text-decoration: underline;
    color: #0000ff;
}

@keyframes anim {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

@media screen and (max-width: 620px) {

    .ycs {
        width: 80px;
        float: inline-start;
    }

    .smcd{
        width: 50px;
        margin-right: 10px;
        margin-top: 5px;
        float: inline-end;
    }

    section{
        margin: 10px;
    }
    .texts h1{
        font-size: 30px;
    }

    .lottie{
        width: 150px;
    }

    #desc{
        font-size: 12px;
    }
}